@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --SoftRed: hsl(14, 88%, 65%);
  --SoftViolet: hsl(273, 75%, 66%);
  --SoftBlue: hsl(240, 73%, 65%);
  --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
  --DarkGrayishBlue: hsl(240, 6%, 50%);
  --LightGrayishBlue: hsl(240, 5%, 91%);
}
html {
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 920px;
  height: 509px;
  background-color: white;
  border-radius: 30px;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: 1260% 65%;
}

.card_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6rem;
}

.answer {
  display: none;
}

.accordian_wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.accordian_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 350px;
  border-bottom: 1px solid var(--LightGrayishBlue);
}

.accordian_title {
  font-size: 3rem;
  margin-top: 0px;
}

.question {
  width: 350px;
  border-bottom: 1px solid var(--LightGrayishBlue);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}

.question img {
  align-self: center;
}

.question_title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.4rem 0rem;
  color: var(--VeryDarkGrayishBlue);
}

.image_wrapper {
  position: relative;
}

.image_wrapper_inner {
  background: url(/images/illustration-woman-online-desktop.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 120% center;
}
.box {
  position: absolute;
  top: 42%;
  left: -25%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
